@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,400,100);
@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Poiret+One|Open+Sans:300,400);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Oregano|Finger+Paint|Rancho|Cabin+Condensed|Poppins|Pacifico|Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald|Passion+One|Candal|Sigmar+One|Righteous|Comfortaa|Satisfy);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body{
background: url('./huellasfondo.png') repeat left;  
}

.contenido{
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.3s;
  background-color: #536E7A;/*#ED515B rosado*/
}
.menu-bar{
  cursor: pointer;
}
.abrir{
  transform: translateX(100%);
}
/*---------------------------------------*/
.menu_barsito{
    display: block;
    width: 100%;
    height: 60px;
    color: #fff;

  }
  .menu_barsito .bt-menu{
    display: block;
    padding: 20px;
    height: 60px;
    background: #49B1AA  url('./huellasfondo.png') repeat center;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu_barsito span{
      float:right;
      font-size:25px;
      padding-bottom: 10px;
    }

header {
  width: 100%;
  background: #49B1AA  url('./huellasfondo.png') repeat center;
}
header nav{
  width: 100%;
  
  margin: 10px auto;
  background: #49B1AA  url('./huellasfondo.png') repeat center;
}
header nav ul{
  overflow: hidden;
  list-style: none;
  height: 100%;
 background: #49B1AA  url('./huellasfondo.png') repeat center;
}
header nav ul li{
  float: left;
}

header nav ul li a{
color: #fff;
padding: 20px;
display: block;
font-size: 18px;
text-decoration: none;
 font-family: 'Oswald', sans-serif;
}
header nav ul li span{
  margin-right:10px;
}
 header nav ul li a:hover{
    background:#2E4A6D;
    color: #F6B00C;

}
/*--------------------*/

.contenedor{
  width: 100%;
  background-color: #536E7A;/*#ED515B rosado*/
  float: left;
}
.contenedor h2{
  color: #fff;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.requisitos{
  background-color: #536E7A;/*#ED515B rosado*/
  width: 100%;
  float: left;
}
.requisitos h2{
  color: #F6B00C;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.requisitos h3{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
.tipo-mascota h3{
  color: #F6B00C;
  font-family: 'Oswald', sans-serif;

}


.ordenar{

  font-family: 'Oswald', sans-serif;
  float: left;
}

.perfiles{
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;

}
/*----- un---- */
.mascota{
  float: left;
 background-color:rgba(185,193,196,1); /*rgba(49,72,106,0.7);*/
}

.datos-mascota{
  float: right;
  background-color:rgba(185,193,196,0.6); /*rgba(49,72,106,0.7);*/
}
.datos-mascota h2{
   color: #536E7A;
   font-family: 'Oswald', sans-serif; 
  }
.datos-mascota h3{
 color:#536E7A;
 font-family: 'Oswald', sans-serif; 
 }

.btn-conoceme{
  background-color: #F6B00C;
  float: left;
  text-align: center;
}

.btn-conoceme h2 a{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  text-decoration: none;
}

.btn-buscarmas-mascotas{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  float: left;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #F1636A;
  border: dashed 1px #fff;
  text-align: center;
  padding-bottom: 5px;
  
}


/*footer*/
.footer{
  background: #F4F4F4 url('./huellas1.png') repeat left;
  color: #fff;
  width: 100%;float: left;
  clear: both;
  display: table-row;
  float: left;
  clear: both;
  display: table-row;
  
}
.menu_barsito{
    display: block;
    width: 100%;
    background: #49B1AA;
    height: 60px;
    color: red;/*#2E4A6D*/

  }
  .menu_barsito .bt-menu{
    display: block;
    padding: 20px;
    height: 60px;
    background:#49B1AA url('./huellasfondo.png') repeat center;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu_barsito span{
      float:right;
      font-size:25px;
      padding-bottom: 10px;
    }


@media only screen and (max-width : 320px) {
  header{
    position: fixed;
    color: #2E4A6D;

 }

  header nav{
    width: 100%;
    height:1000%;
    margin: 0;
    position: fixed;
    left: -100%;
    font-family: 'Oswald', sans-serif;  
   }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255, .3);
  }
  
  header nav ul li a:hover{
    background:#2E4A6D;
    border-left: 5px solid #F6B00C;
    color: #F6B00C;

  }
/* inicio ccontenedor*/

.contenedor{
  margin-top: 65px;
  padding-bottom: 10px;

}
/*requisitos*/


.requisitos h2{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 17px;
  text-align: justify-all;
}
.requisitos h3{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 14px;
  text-align: justify-all;

}
.tipo-mascota{
  width: 95%;
  float: left;
  background: #ececec;
  margin-left: 2.5%;
  padding-bottom: 3px;
  padding-top: 3px;
  

}


.tipo-mascota input{
   display:inline-block;
    width:20%;
    height:40px;
    float: left;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%
    padding-top:5px auto;
}
.tipo-mascota h3 {
  color: #2E4A6D;
  width: 20%;
  float: left;

}
/*-----fin requisitos*/

.ordenar{
  font-size: 17px;
  width: 95%;
  height: 40px;
  margin-left: 2.5%;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*----- un---- */
.mascota{
  width: 95%;
  margin-left: 2.5%;
  height:200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img-fondo{
  background-color: #CED8D9;/*#2E4A6D;*/
  width: 95%;
  margin-left: 2.5%;
  height: 180px;
  margin-top: 10px;
  float: left;
 

}
.datos-mascota{
  width: 50%;
  height: 180px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 5%;
  margin-top: 40px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}

.btn-buscarmas-mascotas{
  width: 90%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  padding-top: 5px;
  height: 40px;
   
}
.btn-buscarmas-mascotas h2{
   font-size: 13px;
   padding-bottom: 10px;
}

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 50%;
  margin-left: 25%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}

  }

@media only screen and (max-width : 480px) and (min-width: 321px) {

 header{
    position: fixed;
    margin-bottom: 15px;
  }

  header nav{
    width: 65%;
    height:1000%;
    margin: 0;
    position: fixed;
    left: -100%;
       
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255, .3);
  }
  header nav ul li a:hover{
  border-left: 5px solid #F6B00C;
  }

 /* inicio ccontenedor*/

.contenedor{
  margin-top: 65px;
  padding-bottom: 10px;

}
/*requisitos*/

.requisitos h2{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 20px;
  text-align: justify-all;
}
.requisitos h3{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 16px;
  text-align: center;

}
.tipo-mascota{
  width: 90%;
  float: left;
  background: #ececec;
  margin-left: 5%;
  padding-bottom: 3px;
  padding-top: 3px;
  

}


.tipo-mascota input{
   display:inline-block;
    width:20%;
    height:40px;
    float: left;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%
    padding-top:5px auto;
}
.tipo-mascota h3 {
  color: #2E4A6D;
  width: 20%;
  float: left;

}
/*-----fin requisitos*/

.ordenar{
  font-size: 17px;
  width: 90%;
  height: 40px;
  margin-left: 5%;
  margin-top: 3px;
  margin-bottom: 3px;

}


/*----- un---- */
.mascota{
  width: 88%;
  margin-left: 6%;
  height:210px;
  margin-top: 10px;
  padding-top: 10px;
  }
.img-fondo{
  width: 95%;
  margin-left: 2.5%;
  height: 90%;
  }


.datos-mascota{
  width: 50%;
  height: 90%;
  padding-top: 40px;
  text-align: center;
  
}
.datos-mascota h2{
  font-size: 25px;
  margin-left: 3%;
  width: 90%;

}
.datos-mascota h3{
 font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 7%;
  margin-top: 10px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}

.btn-buscarmas-mascotas{
  width: 90%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  padding-top: 7px;
  height: 50px;
   
}
.btn-buscarmas-mascotas h2{
  text-align: center;
  font-size: 17px;
  margin-bottom: 10px;
}

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 50%;
  margin-left: 25%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}



}

@media only screen and (max-width : 769px) and (min-width: 479px){
   header{
    position: fixed;
    margin-bottom: 15px;
   }

  header nav{
    width: 65%;
    height:1000%;
    margin: 0;
    position: fixed;
    left: -100%;
        
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255, .3);
  }
  header nav ul li a:hover{
    border-left: 5px solid #F6B00C;
  }
  
/* inicio ccontenedor*/

.contenedor{
  margin-top: 65px;
  padding-bottom: 10px;

}
/*requisitos*/

.requisitos h2{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 28px;
  text-align: justify-all;
}
.requisitos h3{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 18px;
  text-align: center;

}
.tipo-mascota{
  width: 90%;
  float: left;
  background: #ececec;
  margin-left: 5%;
  padding-bottom: 3px;
  padding-top: 3px;
  

}


.tipo-mascota input{
   display:inline-block;
    width:15%;
    height:40px;
    float: left;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%
    padding-top:5px auto;
    margin-left: 10%;
}
.tipo-mascota h3 {
  color: #2E4A6D;
  width: 15%;
  float: left;
  margin-left: 4%;

}
/*-----fin requisitos*/

.ordenar{
  font-size: 17px;
  width: 90%;
  height: 40px;
  margin-left: 5%;
  margin-top: 3px;
  margin-bottom: 3px;

}

/*----- un---- */

.btn-buscarmas-mascotas{
  width: 90%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  padding-top: 7px;
  height: 60px;
  
  
}
.btn-buscarmas-mascotas h2{
  text-align: center;
  font-size: 17px;
}
.btn-buscarmas-mascotas h2{
  text-align: center;
  font-size: 17px;
}


.mascota{
  width: 70%;
  margin-left: 15%;
  height:270px;
  margin-top: 10px;
  margin-bottom: 10px;
  }

.img-fondo{
  width: 95%;
  margin-left: 2.5%;
  height: 250px;
  margin-top: 10px;
  float: left;
}


.datos-mascota{
  padding-top: 40px;
   width: 50%;
  height: 210px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 7%;
  margin-top: 5px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}
/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 50%;
  margin-left: 25%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}




}

 @media only screen and (max-width : 992px) and (min-width: 770px) {
    header{
    position: fixed;
    margin-bottom: 15px;
   }

  header nav{
    width: 45%;
    height:1000%;
    margin: 0;
    position: fixed;
    left: -100%;   
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255, .3);
  }
  header nav ul li a:hover{
  border-left: 5px solid #F6B00C;
  }
    
/* inicio ccontenedor*/

.contenedor{
  margin-top: 65px;
  padding-bottom: 10px;

}
/*requisitos*/

.requisitos h2{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 32px;
  text-align: justify-all;
}
.requisitos h3{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 18px;
  text-align: center;

}
.tipo-mascota{
  width: 70%;
  float: left;
  background: #ececec;
  margin-left: 15%;
  padding-bottom: 3px;
  padding-top: 3px;
  

}


.tipo-mascota input{
   display:inline-block;
    width:15%;
    height:40px;
    float: left;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%
    padding-top:5px auto;
    margin-left: 10%;
}
.tipo-mascota h3 {
  color: #2E4A6D;
  width: 15%;
  float: left;
  margin-left: 4%;

}
/*-----fin requisitos*/

.ordenar{
  font-size: 17px;
  width: 70%;
  height: 40px;
  margin-left: 15%;
  margin-top: 3px;
  margin-bottom: 3px;

}

/*----- un---- */
.mascota{
  width: 47%;
  margin-left: 2.5%;
  height:270px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  }
.img-fondo{
  width: 95%;
  margin-left: 2.5%;
  height: 90%;
  margin-top: 2.5%;
  
}
.datos-mascota{
   width: 50%;
  height: 70%;
 padding-top: 80px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 7%;
  margin-top: 5px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}
.btn-buscarmas-mascotas{
  width: 90%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  padding-top: 7px;
  height: 60px;
 
}
.btn-buscarmas-mascotas h2{
  text-align: center;
  font-size: 17px;
}

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 20%;
  margin-left: 40%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}


}

@media only screen and (min-width: 993px){
/*---------------------------------------*/
.menu_barsito{
  display: none;
}
header {
  width: 100%;
  float: left;
}
header nav{
  width: 90%;
  margin-left: 10%;
  float: left;
}
header nav ul{
  overflow: hidden;
  list-style: none;
}
header nav ul li{
  float: left;
}

header nav ul li a{
padding: 20px;
display: block;
font-size: 18px;
text-decoration: none;
}
header nav ul li span{
  margin-right:10px;
}

header nav ul li a:hover{
 border-bottom: 2px solid #F6B00C;
}


/*----------------*/
.contenido{
  background: #ED515B;
}   

/*contenedor*/


.contenedor{
  padding-bottom: 10px;
}

.requisitos h2{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 32px;
  text-align: justify-all;
}
.requisitos h3{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 18px;
  text-align: center;

}
.tipo-mascota{
  width: 40%;
  float: left;
  background: #ececec;
  margin-left: 30%;
  padding-bottom: 3px;
  padding-top: 3px;
  

}


.tipo-mascota input{
   display:inline-block;
    width:15%;
    height:40px;
    float: left;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%
    padding-top:5px auto;
    margin-left: 10%;
}
.tipo-mascota h3 {
  color: #2E4A6D;
  width: 15%;
  float: left;
  margin-left: 4%;

}
/*-----fin requisitos*/

.ordenar{
  font-size: 17px;
  width: 40%;
  height: 40px;
  margin-left: 30%;
  margin-top: 3px;
  margin-bottom: 3px;

}

/*----- un---- */
.mascota{
  width: 30%;
  margin-left: 2.5%;
  height:280px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  }
.img-fondo{
  width: 95%;
  margin-left: 2.5%;
  height: 255px;
  margin-top: 10px;
}
.datos-mascota{
   width: 50%;
  height: 200px;
  padding-top: 60px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 7%;
  margin-top: 5px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}
.btn-buscarmas-mascotas{
  width: 40%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30%;
  padding-top: 7px;
  height: 50px;
  float: left;
    
}
.btn-buscarmas-mascotas h2{
  text-align: center;
  font-size: 17px;
}
.btn-enviarsolicitud{
  width: 40%;  

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30%;
  
}

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 15%;
  margin-left: 42.5%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}


}
