@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,400,100);
@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Poiret+One|Open+Sans:300,400);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Oregano|Finger+Paint|Rancho|Cabin+Condensed|Poppins|Pacifico|Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald|Passion+One|Candal|Sigmar+One|Righteous|Comfortaa|Satisfy);
/* 

font-family: 'Oregano', cursive;

font-family: 'Finger Paint', cursive;

font-family: 'Rancho', cursive;

font-family: 'Cabin Condensed', sans-serif;

font-family: 'Poppins', sans-serif;

font-family: 'Pacifico', cursive;

font-family: 'Josefin Sans', sans-serif;

font-family: 'Oswald', sans-serif;

font-family: 'Passion One', cursive;

font-family: 'Candal', sans-serif;

font-family: 'Sigmar One', cursive;

font-family: 'Righteous', cursive;

font-family: 'Comfortaa', cursive;
font-family: 'Satisfy', cursive;


background:#b91110; */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body{

	background: url('./huellas1.png') repeat left;

  
}

.contenido{
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.3s;
}
.menu-bar{
  cursor: pointer;
}
.abrir{
  transform: translateX(100%);
}
/*---------------------------------------*/
.menu_barsito{
  display: none;
}
header {
  width: 100%;
  background: #ececec url('./huellas1.png') repeat center;
}
header nav{
  width: 100%;
  
  margin: 10px auto;
  background: url('./huellas1.png') no-repeat center;
}
header nav ul{
  overflow: hidden;
  list-style: none;
  height: 100%;
}
header nav ul li{
  float: left;
}

header nav ul li a{
color: #2E4A6D;
padding: 20px;
display: block;
font-size: 18px;
text-decoration: none;
 font-family: 'Oswald', sans-serif;
}
header nav ul li span{
  margin-right:10px;
}
/* si tuviera iconos al lado de los li
header nav ul li span{
  margin-right:10px;
}

*/



/*-----------header-----------------------*/

@keyframes cambio{
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}
/*FIN SLIDER*/



.contenedor{
  width: 100%;
  background-color: #ED515B;
  float: left;
}
.contenedor h2{
  color: #fff;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.ordenar{

  font-family: 'Oswald', sans-serif;
  float: left;
}

.perfiles{
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;

}
/*----- un---- */
.mascota{
  background-color: #31486A;  
}

.datos-mascota{
  float: right;
  background-color: rgba(49,72,106,0.7);
}
.datos-mascota h2{
   color: #F6B00C;
   font-family: 'Righteous', cursive;
   float: left;
}
.datos-mascota h3{
 color: #FFF;
 font-family: 'Righteous', cursive;
 float: left;
}

.btn-conoceme{
  background-color: #F6B00C;
  float: left;
}

.btn-conoceme h2{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
}

.btn-buscarmas{
  float: left;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #F1636A;
  border: dashed 1px #fff;
}

/*footer*/
.footer{
  background: #F4F4F4 url('./huellas1.png') repeat left;
  color: #fff;
  width: 100%;float: left;
  clear: both;
  display: table-row;
  float: left;
  clear: both;
  display: table-row;
  
}


@media only screen and (max-width : 320px) {
  header{
    position: fixed;
    background: #ececec url('./huellas1.png') repeat center;
    color: #2E4A6D;

  }

  header nav{
    width: 100%;
    height:1000%;
    margin: 0;
    position: fixed;
    left: -100%;
    font-family: 'Oswald', sans-serif;
    background: #ececec url('./huellas1.png') repeat center;

    
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255, .3);
  }
  .menu_barsito{
    display: block;
    width: 100%;
    background: #b91110;
    height: 60px;
    color: #2E4A6D;

  }
  .menu_barsito .bt-menu{
    display: block;
    padding: 20px;
    height: 60px;
    background: url('./huellas1.png') repeat center;
    font-family: 'Oswald', sans-serif;
    color: #2E4A6D;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu_barsito span{
      float:right;
      font-size:25px;
      padding-bottom: 10px;
    }

  header nav ul li a:hover{
    background:#2E4A6D;
    border-left: 5px solid #F6B00C;
    color: #F6B00C;

  }

/* inicio slider*/
.slider{
  overflow: hidden;
  float: left;
  width: 100%;
  height: 180px;
  margin-top: 65px;
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;

}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  height: 180px;
}
/*fin slider*/


.contenedor{
  padding-bottom: 10px;

}
.contenedor h2{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 24px;
}

.ordenar{
  font-size: 17px;
  width: 95%;
  height: 40px;
  margin-left: 2.5%;
}


/*----- un---- */
.mascota{
  

  width: 95%;
  margin-left: 2.5%;
  background-color: #2E4A6D;
  height:200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img-fondo{

  width: 95%;
  margin-left: 2.5%;
  height: 180px;
  margin-top: 10px;
  float: left;
 

}
.datos-mascota{
   width: 50%;
  height: 180px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 5%;
  margin-top: 40px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}

.btn-buscarmas{
  width: 90%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  
}
.btn-buscarmas h2{

  font-size: 17px;
}

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 50%;
  margin-left: 25%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}

  }

@media only screen and (max-width : 480px) and (min-width: 321px) {

 header{
    position: fixed;
    margin-bottom: 15px;
    background: #ececec url('./huellas1.png') repeat center;
    color: #2E4A6D;
  }

  header nav{
    width: 65%;
    height:1000%;
    margin: 0;
    position: fixed;
    left: -100%;
    font-family: 'Oswald', sans-serif;
    background: #ececec url('./huellas1.png') repeat center;

    
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255, .3);
  }
  .menu_barsito{
    display: block;
    width: 100%;
    background: #b91110;
    height: 60px;
    color: #2E4A6D;

  }
  .menu_barsito .bt-menu{
    display: block;
    padding: 20px;
    height: 60px;
    background: #ececec url('./huellas1.png') repeat center;
    font-family: 'Oswald', sans-serif;
    color: #2E4A6D;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu_barsito span{
      float:right;
      font-size:25px;
      padding-bottom: 10px;
    }

      header nav ul li a:hover{
    background:#2E4A6D;
    border-left: 5px solid #F6B00C;
    color: #F6B00C;

  }

 
/* inicio slider*/
.slider{
  overflow: hidden;
  float: left;


  width: 100%;
  height: 220px;
  margin-top: 50px;
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;

}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  height: 220px;
}
/*fin slider*/


.contenedor{
  padding-bottom: 10px;
}
.contenedor h2{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 20px;
}

.ordenar{
  font-size: 17px;
  width: 70%;
  height: 40px;
  margin-left: 15%;
}


/*----- un---- */
.mascota{
  

  width: 80%;
  margin-left: 10%;
  background-color: #31486A;
  height:180px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img-fondo{
  width: 90%;
  margin-left: 2.5%;
  height: 160px;
  margin-top: 10px;
  float: left;
  box-shadow: inset 0px 21px 63px -2px rgba(49,72,106,0.9);

}


.datos-mascota{
   width: 50%;
  height: 160px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 7%;
  margin-top: 10px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}

.btn-buscarmas{
  width: 90%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  
}
.btn-buscarmas h2{

  font-size: 17px;
}

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 50%;
  margin-left: 25%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}



}

@media only screen and (max-width : 769px) and (min-width: 479px){
   header{
    position: fixed;
    margin-bottom: 15px;
    background: #ececec url('./huellas1.png') repeat center;
    color: #2E4A6D;
  }

  header nav{
    width: 65%;
    height:1000%;
    margin: 0;
    position: fixed;
    left: -100%;
    font-family: 'Oswald', sans-serif;
    background: #ececec url('./huellas1.png') repeat center;

    
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255, .3);
  }
  .menu_barsito{
    display: block;
    width: 100%;
    background: #b91110;
    height: 60px;
    color: #2E4A6D;

  }
  .menu_barsito .bt-menu{
    display: block;
    padding: 20px;
    height: 60px;
    background: #ececec url('./huellas1.png') repeat center;
    font-family: 'Oswald', sans-serif;
    color: #2E4A6D;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu_barsito span{
      float:right;
      font-size:25px;
      padding-bottom: 10px;
    }

      header nav ul li a:hover{
    background:#2E4A6D;
    border-left: 5px solid #F6B00C;
    color: #F6B00C;

  }

 /* inicio slider*/
.slider{
  overflow: hidden;
  float: left;
  width: 100%;
  height: 270px;
  margin-top: 65px;
  
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;

}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  height: 270px;
}
/*fin slider*/


.contenedor{
  padding-bottom: 10px;
}
.contenedor h2{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 20px;
}

.ordenar{
  font-size: 17px;
  width: 70%;
  height: 40px;
  margin-left: 15%;
}


/*----- un---- */
.mascota{
  

  width: 45%;
  margin-left: 3%;
  background-color: #31486A;
  height:180px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  text-align: center;
}
.img-fondo{
  width: 90%;
  margin-left: 2.5%;
  height: 160px;
  margin-top: 10px;
  float: left;
  box-shadow: inset 0px 21px 63px -2px rgba(49,72,106,0.9);

}


.datos-mascota{
   width: 50%;
  height: 160px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 7%;
  margin-top: 5px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}

.btn-buscarmas{
  width: 90%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  
}
.btn-buscarmas h2{

  font-size: 17px;
}

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 50%;
  margin-left: 25%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}




}

 @media only screen and (max-width : 992px) and (min-width: 770px) {
   header{
    position: fixed;
    margin-bottom: 15px;
    background: #ececec url('./huellas1.png') repeat center;
    color: #2E4A6D;
  }

  header nav{
    width: 45%;
    height:1000%;
    margin: 0;
    position: fixed;
    left: -100%;
    font-family: 'Oswald', sans-serif;
    background: #ececec url('./huellas1.png') repeat center;

    
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255, .3);
  }
  .menu_barsito{
    display: block;
    width: 100%;
    background: #b91110;
    height: 60px;
    color: #2E4A6D;

  }
  .menu_barsito .bt-menu{
    display: block;
    padding: 20px;
    height: 60px;
    background: #ececec url('./huellas1.png') repeat center;
    font-family: 'Oswald', sans-serif;
    color: #2E4A6D;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu_barsito span{
      float:right;
      font-size:25px;
      padding-bottom: 10px;
    }

      header nav ul li a:hover{
    background:#2E4A6D;
    border-left: 5px solid #F6B00C;
    color: #F6B00C;

  }

  
/* inicio slider*/
.slider{
  overflow: hidden;
  float: left;
  width: 100%;
  height: 340px;
  margin-top: 65px;
  
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;

}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  height: 340px;
}
/*fin slider*/


.contenedor{
  padding-bottom: 10px;
}
.contenedor h2{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 30px;
}

.ordenar{
  font-size: 17px;
  width: 40%;
  height: 40px;
  margin-left: 30%;
}


/*----- un---- */
.mascota{
  

  width: 30%;
  margin-left: 2.5%;
  background-color: #31486A;
  height:180px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  text-align: center;
}
.img-fondo{
  width: 90%;
  margin-left: 2.5%;
  height: 160px;
  margin-top: 10px;
  float: left;
  box-shadow: inset 0px 21px 63px -2px rgba(49,72,106,0.9);

}


.datos-mascota{
   width: 50%;
  height: 160px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 7%;
  margin-top: 5px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}

.btn-buscarmas{
  width: 70%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15%;
  
}
.btn-buscarmas h2{

  font-size: 17px;
}

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 20%;
  margin-left: 40%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}


}

@media only screen and (min-width: 993px){
/*---------------------------------------*/
.menu_barsito{
  display: none;
}
header {
  width: 100%;
  background: #ececec url('./huellas1.png') repeat center;
  float: left;
}
header nav{
  width: 90%;
 
  margin-left: 10%;
  background: url('./huellas1.png') no-repeat center;
  float: left;
}
header nav ul{
  overflow: hidden;
  list-style: none;
}
header nav ul li{
  float: left;
}

header nav ul li a{
color: #2E4A6D;
padding: 20px;
display: block;
font-size: 18px;
text-decoration: none;
 font-family: 'Oswald', sans-serif;
}
header nav ul li span{
  margin-right:10px;
}

header nav ul li a:hover{
  background:#2E4A6D;
  
  color: #F6B00C;

}


/*----------------*/
.contenido{
  background: #ED515B;
}   
  

/* inicio slider*/
.slider{
  overflow: hidden;
  float: left;
  width: 90%;
  height: 440px;
  margin-top: 5px;
  margin-left: 5%;
  background-color: #ED515B;
  
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;

}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  height: 440px;
}
/*fin slider*/


.contenedor{
  padding-bottom: 10px;
}
.contenedor h2{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 30px;
}

.ordenar{
  font-size: 17px;
  width: 40%;
  height: 40px;
  margin-left: 30%;
}


/*----- un---- */
.mascota{
  

  width: 30%;
  margin-left: 2.5%;
  background-color: #31486A;
  height:180px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  text-align: center;
}
.img-fondo{
  width: 90%;
  margin-left: 2.5%;
  height: 160px;
  margin-top: 10px;
  float: left;
  box-shadow: inset 0px 21px 63px -2px rgba(49,72,106,0.9);

}


.datos-mascota{
   width: 50%;
  height: 160px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 7%;
  margin-top: 5px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}

.btn-buscarmas{
  width: 70%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15%;
  
}
.btn-buscarmas h2{

  font-size: 17px;
}

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 15%;
  margin-left: 42.5%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}


}
