@import url(./fonts.css);


/*FIN SLIDER*/



.contenedor{
  width: 100%;
  float: left;
}
.contenedor h2{
  color: #fff;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.ordenar{

  font-family: 'Oswald', sans-serif;
  float: left;
}

.perfiles{
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;

}
/*----- un---- */
.mascota{
  float: left;
 background-color:rgba(185,193,196,1); /*rgba(49,72,106,0.7);*/
}

.datos-mascota{
  text-align: center;
  float: right;
  background-color:rgba(185,193,196,0.6); /*rgba(49,72,106,0.7);*/
}
.datos-mascota h2{
   color: #536E7A;
   font-family: 'Oswald', sans-serif; 
  }
.datos-mascota h3{
 color:#536E7A;
 font-family: 'Oswald', sans-serif; 
 }

.btn-conoceme{
  background-color: #F6B00C;
  float: left;
  text-align: center;
}

.btn-conoceme h2 a{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  text-decoration: none;
}

.btn-buscarmas-mascotas{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  float: left;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #F1636A;
  border: dashed 1px #fff;
  text-align: center;
  padding-bottom: 5px;
  
}


/*footer*/
.footer{
  background: #F4F4F4 url('./huellas1.png') repeat left;
  color: #fff;
  width: 100%;float: left;
  clear: both;
  display: table-row;
  float: left;
  clear: both;
  display: table-row;
  
}
.menu_barsito{
    display: block;
    width: 100%;
    background: #49B1AA;
    height: 60px;
    color: red;/*#2E4A6D*/

  }
  .menu_barsito .bt-menu{
    display: block;
    padding: 20px;
    height: 60px;
    background:#49B1AA url('./huellasfondo.png') repeat center;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu_barsito span{
      float:right;
      font-size:25px;
      padding-bottom: 10px;
    }

@media only screen and (max-width : 320px) {
  .form_container {
    margin-top: 60px;
  }

/* inicio slider*/
.slider{
  overflow: hidden;
  float: left;
  width: 100%;
  height: 180px;
  margin-top: 65px;
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;

}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  height: 180px;
}
/*fin slider*/


.contenedor{
  padding-bottom: 10px;

}


.ordenar{
  font-size: 17px;
  width: 95%;
  height: 40px;
  margin-left: 2.5%;
}
.hola{
  font-size: 22px;
}

/*----- un---- */
.mascota{
  width: 95%;
  margin-left: 2.5%;
  height:200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img-fondo{
  background-color: #CED8D9;/*#2E4A6D;*/
  width: 95%;
  margin-left: 2.5%;
  height: 180px;
  margin-top: 10px;
  float: left;
 

}
.datos-mascota{
  width: 50%;
  height: 180px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 5%;
  margin-top: 40px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}

.btn-buscarmas-mascotas{
  width: 95%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2.5%;
  padding-top: 5px;
  height: 40px;
   
}
.btn-buscarmas-mascotas h2{
   font-size: 16px;
   padding-bottom: 10px;
}

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 50%;
  margin-left: 25%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}

  }

@media only screen and (max-width : 480px) and (min-width: 321px) {

/* inicio slider*/
.slider{
  overflow: hidden;
  float: left;


  width: 100%;
  height: 220px;
  margin-top: 50px;
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;

}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  height: 220px;
}
/*fin slider*/


.contenedor{
  padding-bottom: 10px;
}


.ordenar{
  font-size: 17px;
  width: 70%;
  height: 40px;
  margin-left: 15%;
}


/*----- un---- */
.mascota{
  width: 88%;
  margin-left: 6%;
  height:210px;
  margin-top: 10px;
  padding-top: 10px;
  }
.img-fondo{
  width: 95%;
  margin-left: 2.5%;
  height: 90%;
  }


.datos-mascota{
  width: 50%;
  height: 90%;
  padding-top: 40px;
  text-align: center;
  
}
.datos-mascota h2{
  font-size: 25px;
  margin-left: 3%;
  width: 90%;

}
.datos-mascota h3{
 font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 7%;
  margin-top: 10px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}

.btn-buscarmas-mascotas{
  width: 90%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  padding-top: 7px;
  height: 50px;
   
}
.btn-buscarmas-mascotas h2{
  text-align: center;
  font-size: 17px;
  margin-bottom: 10px;
}

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 50%;
  margin-left: 25%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}


}

@media only screen and (max-width : 769px) and (min-width: 479px){
   
 /* inicio slider*/
.slider{
  overflow: hidden;
  float: left;
  width: 100%;
  height: 270px;
  margin-top: 65px;
  
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;

}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  height: 270px;
}
/*fin slider*/


.contenedor{
  padding-bottom: 10px;
}
.contenedor h2{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 20px;
}

.ordenar{
  font-size: 17px;
  width: 70%;
  height: 40px;
  margin-left: 15%;
}


/*----- un---- */

.btn-buscarmas-mascotas{
  width: 90%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  padding-top: 7px;
  height: 60px;
  
  
}
.btn-buscarmas-mascotas h2{
  text-align: center;
  font-size: 17px;
}
.btn-buscarmas-mascotas h2{
  text-align: center;
  font-size: 17px;
}


.mascota{
  width: 70%;
  margin-left: 15%;
  height:270px;
  margin-top: 10px;
  margin-bottom: 10px;
  }

.img-fondo{
  width: 95%;
  margin-left: 2.5%;
  height: 250px;
  margin-top: 10px;
  float: left;
}


.datos-mascota{
  padding-top: 40px;
   width: 50%;
  height: 210px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 7%;
  margin-top: 5px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}


/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 50%;
  margin-left: 25%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}


}

 @media only screen and (max-width : 992px) and (min-width: 770px) {
     
/* inicio slider*/
.slider{
  overflow: hidden;
  float: left;
  width: 100%;
  height: 340px;
  margin-top: 65px;
  
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;

}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  height: 340px;
}
/*fin slider*/


.contenedor{
  padding-bottom: 10px;
}
.contenedor h2{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 30px;
}

.ordenar{
  font-size: 17px;
  width: 40%;
  height: 40px;
  margin-left: 30%;
}


/*----- un---- */
.mascota{
  width: 47%;
  margin-left: 2.5%;
  height:270px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  }
.img-fondo{
  width: 95%;
  margin-left: 2.5%;
  height: 90%;
  margin-top: 2.5%;
  
}
.datos-mascota{
   width: 50%;
  height: 70%;
 padding-top: 80px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 7%;
  margin-top: 5px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}
.btn-buscarmas-mascotas{
  width: 90%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  padding-top: 7px;
  height: 60px;
 
}
.btn-buscarmas-mascotas h2{
  text-align: center;
  font-size: 17px;
}


/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 20%;
  margin-left: 40%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}


}

@media only screen and (min-width: 993px){
/*---------------------------------------*/
.menu_barsito{
  display: none;
}
header {
  width: 100%;
  float: left;
}
header nav{
  width: 90%;
  margin-left: 5%;
  float: left;
}
header nav ul{
  overflow: hidden;
  list-style: none;
}
header nav ul li{
  float: left;
}

header nav ul li a{
padding: 25px;
display: block;
text-decoration: none;
}
header nav ul li span{
  margin-right:10px;
}

header nav ul li a:hover{
 border-bottom: 2px solid #F6B00C;
}


/*----------------*/

/* inicio slider*/
.slider{
  overflow: hidden;
  float: left;
  width: 100%;
  height: 500px;
  background-color: #536E7A;/*#ED515B*/

  
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;

}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  height: 500px;
}
/*fin slider*/


.contenedor{
  margin-top: 0px;
  padding-top: 10px;
}
.contenedor h2{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 30px;
}

.ordenar{
  font-size: 17px;
  width: 40%;
  height: 40px;
  margin-left: 30%;
}


/*----- un---- */
.mascota{
  width: 30%;
  margin-left: 2.5%;
  height:280px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  }
.img-fondo{
  width: 95%;
  margin-left: 2.5%;
  height: 255px;
  margin-top: 10px;
}
.datos-mascota{
   width: 50%;
  height: 200px;
  padding-top: 60px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 7%;
  margin-top: 5px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}
.btn-buscarmas-mascotas{
  width: 40%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30%;
  padding-top: 7px;
  height: 50px;
  float: left;
    
}
.btn-buscarmas-mascotas h2{
  text-align: center;
  font-size: 17px;
}
.btn-enviarsolicitud{
  width: 40%;  

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30%;
  
}
/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 15%;
  margin-left: 42.5%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}


}
