@import url(./fonts.css);

.contenedor{
  background: #ED515B url('./perros.jpg') repeat left;
  width: 100%;
  /*background-color: #536E7A;/*#ED515B rosado #F6B00C amarillo #304A6F azul osc #999 gris osc #36F azulclaro*/
  float: left;
}
.mi-perfil{
  background: #ED515B url('./perros.jpg') repeat left;
  float: left;
}

.mis-opcionesPerfil{
  background: #ED515B url('./perros.jpg') repeat left;
  float: left;
}

/*----------------*/
/*mi perfil*/

.foto-usuario{
   float: left;
  border: dashed 1px #fff;
 
}
.foto-usuario img{
    float: left;
}
.dato-perfil{
  
  margin-left: 5%;
  float: left;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  background: #E2495B;
  }
.boton-perfil{
  float: left;
  text-align: center;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  background-color: #F6B00C;
  cursor: pointer;
  font-weight: bold;
}
.mis-mensajes{
  
  float: left;
  overflow: scroll;
  overflow-x:hidden;
  background-color: #ED515B;
}

.un-mensaje{
  background-color:#529AD9;
  float: left;
  color: #ececec;
  text-align: justify-all;
  font-family: Raleway;
}
.dos-mensaje{
  background-color: #FBB000;
  float: left;
  color: #ececec;
  text-align: justify-all;
  font-family: Raleway;
  
}
.tres-mensaje{
  background-color: #FF8A8E;
  float: left;
  color: #ececec;
  text-align: justify-all;
  font-family: Raleway;
}
.de-mensaje{
 font-family: 'Oswald', sans-serif;
 color: #304A6F;
}
/**/
/*escribenos*/
.titulo-escribenos{
  width: 100%;
  background-color: #FBB000;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  float: left;
  color: #304A6F;
  
}
.titulo-escribenos h2{
  color: #304A6F;
}
.escribenos{
  background:#304A6F;
  width: 100%;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dato-escribenos{
  width: 98%;
  margin-left: 1%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.dato-escribenos h2{
  float: left;
  color: #ececec;
  font-family: 'Oswald', sans-serif;
}
.dato-escribenos h3{
  float: left;
  color: #FBB000;
  font-family: 'Oswald', sans-serif;
}
.escribenos textarea{
  
  float: left;
  background-color: #ececec;
  color: #304A6F;
  font-family: 'Raleway', sans-serif;
  
}
/*------------*/
/*----------------*/


/*footer*/
.footer{
  background: #F4F4F4 url('./huellas1.png') repeat left;
  color: #fff;
  width: 100%;float: left;
  clear: both;
  display: table-row;
  float: left;
  clear: both;
  display: table-row;
  
}


@media only screen and (max-width : 320px) {
 


/* inicio ccontenedor*/

.contenedor{
  margin-top: 60px;
}
/*mi perfil*/
.mi-perfil{
  margin-top: 7px;
  padding-bottom: 10px;
  padding-top: 20px;
  width: 100%;
}

.foto-usuario{
  width: 70%;
  margin-left: 15%;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.foto-usuario img{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 5px;
  height: 140px;
}
.dato-perfil{
  width: 90%;
  margin-left: 5%;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.boton-perfil{
  width: 90%;
  margin-left: 5%;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
 
}
.mis-opcionesPerfil{
 width: 100%;
 float: left;
 padding-top: 20px;
 padding-bottom: 10px;
}
.mis-mensajes{
  width: 90%;
  margin-left: 5%;
  height: 150px;
}

.un-mensaje{
  width: 96%;
  margin-left: 1%;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 3px;
}
.dos-mensaje{
  width: 96%;
  margin-left: 1%;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 3px;
}
.tres-mensaje{
  width: 96%;
  margin-left: 1%;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 3px;
}
.de-mensaje{

}
/**/
/*escribenos*/
.titulo-escribenos{
  width: 100%;
  background-color: #FBB000;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  float: left;
  color: #ececec;
  }


.dato-escribenos h2{
  font-size: 15px;
  width: 20%;
}
.dato-escribenos h3{
  font-size: 15px;
  width: 80%;
}
.escribenos textarea{
  width: 96%;
  margin-left: 1%;
  height: 80px;
  font-size: 15px;
}
/*------------*/
/*para la ventana modal*/ 
  .modalmask {
      width: 100%;
      padding-bottom: 10px;
  }
       
  .modalbox{
        width: 95%;
  }
  .modalmask:target .resize{
    width:400px;  
  }
  .logoSesion{
    width: 25%;
    height: 50px;
    border-top-left-radius: 5px; 
  }
  .logoSesion img{
    width: 100%;
    height: 40px;
    padding-top: 5px;
  }

  .tituloSesion{
    width: 60%;
    height: 50px;
  }
  .tituloSesion h2{
    padding-top: 15px;
    font-size: 17px;
  }

  .salirSesion{
    height: 50px;
    width: 15%;
  }
  .salirSesion img{
    width: 60%;
    height: 25px;
    padding-top: 10px;
  }

  .dato{
    width: 90%;
    margin-left: 5%;
    margin-top: 3px;
  }
 
   
  .dato h2{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
  }
  .dato-fb{
    width: 90%;
    margin-left: 5%;
    margin-top: 3px;
  }
  .dato-btn{
     width: 90%;
    margin-left: 5%;
    margin-top: 3px;
  }
/* fin inicio de sesion y donar */


/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 90%;
  margin-left: 8%;
  height: 40px;
}
.social-media img{
  width: 22%;
  margin-top: 10px;
}

  }

@media only screen and (max-width : 480px) and (min-width: 321px) {



 /* inicio ccontenedor*/

.contenedor{
  margin-top: 60px;
}
/*mi perfil*/
.mi-perfil{
  margin-top: 7px;
  padding-bottom: 10px;
  padding-top: 20px;
  width: 100%;
}

.foto-usuario{
  width: 60%;
  margin-left: 20%;
  height: 155px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.foto-usuario img{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 5px;
  height: 145px;
}
.dato-perfil{
  width: 80%;
  margin-left: 10%;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.boton-perfil{
  width: 80%;
  margin-left: 10%;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
 
}
.mis-opcionesPerfil{
 width: 100%;
 float: left;
 padding-top: 20px;
 padding-bottom: 10px;
}
.mis-mensajes{
  width: 80%;
  margin-left: 10%;
  height: 150px;
}

.un-mensaje{
  width: 96%;
  margin-left: 1%;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 3px;
}
.dos-mensaje{
  width: 96%;
  margin-left: 1%;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 3px;
}
.tres-mensaje{
  width: 96%;
  margin-left: 1%;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 3px;
}
.de-mensaje{

}
/**/
/*escribenos*/
.titulo-escribenos{
  width: 100%;
  background-color: #FBB000;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  float: left;
  color: #ececec;
  }


.dato-escribenos h2{
  font-size: 15px;
  width: 20%;
}
.dato-escribenos h3{
  font-size: 15px;
  width: 80%;
}
.escribenos textarea{
  width: 96%;
  margin-left: 1%;
  height: 80px;
  font-size: 15px;
}
/*------------*/
/*para la ventana modal*/ 
  .modalmask {
      width: 100%;
      padding-bottom: 10px;
  }
       
  .modalbox{
        width: 95%;
  }
  .modalmask:target .resize{
    width:400px;  
  }
  .logoSesion{
    width: 25%;
    height: 50px;
    border-top-left-radius: 5px; 
  }
  .logoSesion img{
    width: 100%;
    height: 40px;
    padding-top: 5px;
  }

  .tituloSesion{
    width: 60%;
    height: 50px;
  }
  .tituloSesion h2{
    padding-top: 15px;
    font-size: 17px;
  }

  .salirSesion{
    height: 50px;
    width: 15%;
  }
  .salirSesion img{
    width: 60%;
    height: 25px;
    padding-top: 10px;
  }

  .dato{
    width: 90%;
    margin-left: 5%;
    margin-top: 3px;
  }
 
   
  .dato h2{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
  }
  .dato-fb{
    width: 90%;
    margin-left: 5%;
    margin-top: 3px;
  }
  .dato-btn{
     width: 90%;
    margin-left: 5%;
    margin-top: 3px;
  }
/* fin inicio de sesion y donar */
/*----------------------*/

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 50%;
  margin-left: 25%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}



}

@media only screen and (max-width : 769px) and (min-width: 479px){
  
  

/* inicio ccontenedor*/

.contenedor{
  margin-top: 60px;
}
/*mi perfil*/
.mi-perfil{
  margin-top: 7px;
  padding-bottom: 10px;
  padding-top: 20px;
  width: 70%;
  margin-left: 15%;
}

.foto-usuario{
  width: 50%;
  margin-left: 25%;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.foto-usuario img{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 5px;
  height: 140px;
}
.dato-perfil{
  width: 90%;
  margin-left: 5%;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.boton-perfil{
  width: 50%;
  margin-left: 25%;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
 
}
.mis-opcionesPerfil{
 width: 100%;
 float: left;
 padding-top: 20px;
 padding-bottom: 10px;
}
.mis-mensajes{
  width: 90%;
  margin-left: 5%;
  height: 150px;
}

.un-mensaje{
  width: 96%;
  margin-left: 1%;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 3px;
}
.dos-mensaje{
  width: 96%;
  margin-left: 1%;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 3px;
}
.tres-mensaje{
  width: 96%;
  margin-left: 1%;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 3px;
}
.de-mensaje{

}
/**/
/*escribenos*/
.titulo-escribenos{
  width: 100%;
  background-color: #FBB000;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  float: left;
  color: #ececec;
  }


.dato-escribenos h2{
  font-size: 15px;
  width: 10%;
}
.dato-escribenos h3{
  font-size: 15px;
  width: 90%;
}
.escribenos textarea{
  width: 96%;
  margin-left: 1%;
  height: 80px;
  font-size: 15px;
}
/*------------*/
/**/
/*para la ventana modal*/ 
  .modalmask {
      width: 100%;
      padding-bottom: 10px;
  }
       
  .modalbox{
        width: 70%;
  }
  .modalmask:target .resize{
    width:400px;  
  }
  .logoSesion{
    width: 25%;
    height: 50px;
    border-top-left-radius: 5px; 
  }
  .logoSesion img{
    width: 100%;
    height: 40px;
    padding-top: 5px;
  }

  .tituloSesion{
    width: 60%;
    height: 50px;
  }
  .tituloSesion h2{
    padding-top: 15px;
    font-size: 17px;
  }

  .salirSesion{
    height: 50px;
    width: 15%;
  }
  .salirSesion img{
    width: 60%;
    height: 25px;
    padding-top: 10px;
  }

  .dato{
    width: 90%;
    margin-left: 5%;
    margin-top: 3px;
  }
 
   
  .dato h2{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
  }
  .dato-fb{
    width: 90%;
    margin-left: 5%;
    margin-top: 3px;
  }
  .dato-btn{
     width: 90%;
    margin-left: 5%;
    margin-top: 3px;
  }
/* fin inicio de sesion y donar */

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 50%;
  margin-left: 25%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}




}

 @media only screen and (max-width : 992px) and (min-width: 770px) {
  
/* inicio ccontenedor*/

.contenedor{
  margin-top: 60px;
}
/*mi perfil*/
.mi-perfil{
  margin-top: 7px;
  padding-bottom: 10px;
  padding-top: 20px;
  width: 45%;
  margin-left: 5%;
}

.foto-usuario{
  width: 60%;
  margin-left: 20%;
  height: 155px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.foto-usuario img{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 5px;
  height: 145px;
}
.dato-perfil{
  width: 80%;
  margin-left: 10%;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.boton-perfil{
  width: 80%;
  margin-left: 10%;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
 
}
.mis-opcionesPerfil{
 width: 50%;
 float: left;
 padding-top: 20px;
 padding-bottom: 10px;
}
.mis-mensajes{
  width: 95%;
  margin-left: 2.5%;
  height: 202px;
}

.un-mensaje{
  width: 96%;
  margin-left: 1%;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 3px;
}
.dos-mensaje{
  width: 96%;
  margin-left: 1%;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 3px;
}
.tres-mensaje{
  width: 96%;
  margin-left: 1%;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 3px;
}
.de-mensaje{

}
/**/
/*escribenos*/
.titulo-escribenos{
  width: 100%;
  background-color: #FBB000;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  float: left;
  color: #ececec;
  }


.dato-escribenos h2{
  font-size: 15px;
  width: 5%;
  margin-left: 2%;
}
.dato-escribenos h3{
  font-size: 15px;
  width: 93%;
}
.escribenos textarea{
  width: 96%;
  margin-left: 2%;
  height: 80px;
  font-size: 15px;
}
/*------------*/
/*para la ventana modal*/ 
  .modalmask {
      width: 100%;
      padding-bottom: 10px;
  }
       
  .modalbox{
        width: 50%;
  }
  .modalmask:target .resize{
    width:400px;  
  }
  .logoSesion{
    width: 25%;
    height: 50px;
    border-top-left-radius: 5px; 
  }
  .logoSesion img{
    width: 100%;
    height: 40px;
    padding-top: 5px;
  }

  .tituloSesion{
    width: 60%;
    height: 50px;
  }
  .tituloSesion h2{
    padding-top: 15px;
    font-size: 17px;
  }

  .salirSesion{
    height: 50px;
    width: 15%;
  }
  .salirSesion img{
    width: 60%;
    height: 25px;
    padding-top: 10px;
  }

  .dato{
    width: 90%;
    margin-left: 5%;
    margin-top: 3px;
  }
 
   
  .dato h2{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
  }
  .dato-fb{
    width: 90%;
    margin-left: 5%;
    margin-top: 3px;
  }
  .dato-btn{
     width: 90%;
    margin-left: 5%;
    margin-top: 3px;
  }
/* fin inicio de sesion y donar */
/*----------------------*/


/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 20%;
  margin-left: 40%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}


}

@media only screen and (min-width: 993px){
/*---------------------------------------*/

/*----------------*/
.contenedor{
 
  float: left;
}

/*mi perfil*/
.mi-perfil{
  margin-top: 7px;
  padding-bottom: 10px;
  padding-top: 20px;
  width: 45%;
  margin-left: 5%;
}

.foto-usuario{
  width: 40%;
  margin-left: 30%;
  height: 155px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.foto-usuario img{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 5px;
  height: 145px;
}
.dato-perfil{
  width: 80%;
  margin-left: 10%;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.boton-perfil{
  width: 60%;
  margin-left: 20%;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
 
}
.mis-opcionesPerfil{
 width: 50%;
 float: left;
 padding-top: 20px;
 padding-bottom: 10px;
}
.mis-mensajes{
  width: 95%;
  margin-left: 2.5%;
  height: 202px;
}

.un-mensaje{
  width: 96%;
  margin-left: 1%;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 3px;
}
.dos-mensaje{
  width: 96%;
  margin-left: 1%;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 3px;
}
.tres-mensaje{
  width: 96%;
  margin-left: 1%;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 3px;
}
.de-mensaje{

}
/**/
/*escribenos*/
.titulo-escribenos{
  width: 100%;
  background-color: #FBB000;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  float: left;
  color: #ececec;
  }


.dato-escribenos h2{
  font-size: 15px;
  width: 5%;
  margin-left: 2%;
}
.dato-escribenos h3{
  font-size: 15px;
  width: 93%;
}
.escribenos textarea{
  width: 96%;
  margin-left: 2%;
  height: 80px;
  font-size: 15px;
}
/*------------*/
/**/
/*para la ventana modal*/ 
  .modalmask {
      width: 100%;
      padding-bottom: 10px;
  }
       
  .modalbox{
        width: 30%;
  }
  .modalmask:target .resize{
    width:400px;  
  }
  .logoSesion{
    width: 25%;
    height: 50px;
    border-top-left-radius: 5px; 
  }
  .logoSesion img{
    width: 100%;
    height: 40px;
    padding-top: 5px;
  }

  .tituloSesion{
    width: 60%;
    height: 50px;
  }
  .tituloSesion h2{
    padding-top: 15px;
    font-size: 17px;
  }

  .salirSesion{
    height: 50px;
    width: 15%;
  }
  .salirSesion img{
    width: 60%;
    height: 25px;
    padding-top: 10px;
  }

  .dato{
    width: 90%;
    margin-left: 5%;
    margin-top: 3px;
  }
 
   
  .dato h2{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
  }
  .dato-fb{
    width: 90%;
    margin-left: 5%;
    margin-top: 3px;
  }
  .dato-btn{
     width: 90%;
    margin-left: 5%;
    margin-top: 3px;
  }
/* fin inicio de sesion y donar */

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 15%;
  margin-left: 42.5%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}


}
