@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,400,100);
@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Poiret+One|Open+Sans:300,400);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Oregano|Finger+Paint|Rancho|Cabin+Condensed|Poppins|Pacifico|Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald|Passion+One|Candal|Sigmar+One|Righteous|Comfortaa|Satisfy);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body{

	background: url('./huellasfondo.png') repeat left;

  
}

.contenido{
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.3s;
}
.menu-bar{
  cursor: pointer;
}
.abrir{
  transform: translateX(100%);
}
/*---------------------------------------*/
.menu_barsito{
  display: none;
}
header {
  width: 100%;
  background: #ececec url('./huellasfondo.png') repeat center;
}
header nav{
  width: 100%;
  
  margin: 10px auto;
  background: url('./huellasfondo.png') no-repeat center;
}
header nav ul{
  overflow: hidden;
  list-style: none;
  height: 100%;
}
header nav ul li{
  float: left;
}

header nav ul li a{
color: #2E4A6D;
padding: 20px;
display: block;
font-size: 18px;
text-decoration: none;
 font-family: 'Oswald', sans-serif;
}
header nav ul li span{
  margin-right:10px;
}
@keyframes cambio{
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}
/*FIN SLIDER*/


.contenedor{
  width: 100%;
  background-color: #ececec;
  float: left;
}
.requisitos h2{
  color: #F6B00C;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.requisitos h3{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

/*formulario para adoptar mascotas*/
.formulario-adoptar{
  width: 98%;
  margin-left: 1%;
  float: left;
  padding-bottom: 3px;
  padding-top: 3px;

}
.input-form{
  float: left;
  font-family: 'Oswald', sans-serif; 
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #F1636A;
  border:none;
}
.formulario-adoptar select{
  float: left;
  font-family: 'Oswald', sans-serif; 
  font-size: 17px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #F1636A;
}
.formulario-adoptar textarea{
  float: left;
  font-family: 'Oswald', sans-serif; 
  font-size: 16px;
  text-align: center;
}
.formulario-adoptar h2{
  float: left;
  color: #ececec;
  }
.radios{
  width: 100%;
  float: left;
  text-align: center;
  }
.radios h3{
  float: left;
 }
.radio {
    display:inline-block;
    float: left;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%
    padding-top:5px auto;
}
.msj{
  width: 100%;
  float: left;
}
.msj h2{
  color: #fff;
  width: 20%;
  font-size:20px;
}
/*---------------------------------*/

.perfiles{
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;

}
/*----- un---- */
.mascota{
  background-color: #31486A;  
}

.datos-mascota{
  float: right;
  background-color: rgba(49,72,106,0.7);
}
.datos-mascota h2{
   color: #F6B00C;
   font-family: 'Righteous', cursive;
   float: left;
}
.datos-mascota h3{
 color: #FFF;
 font-family: 'Righteous', cursive;
 float: left;
}

.btn-conoceme{
  background-color: #F6B00C;
  float: left;
  text-align: center;
}

.btn-conoceme h2 a{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  text-decoration: none;
}


.btn-enviarsolicitud{
  float: left;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #F1636A;
  border: dashed 1px #fff;
  text-align: center;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  
}


/*footer*/
.footer{
  background: #F4F4F4 url('./huellas1.png') repeat left;
  color: #fff;
  width: 100%;float: left;
  clear: both;
  display: table-row;
  float: left;
  clear: both;
  display: table-row;
  
}


@media only screen and (max-width : 320px) {
  header{
    position: fixed;
    color: #2E4A6D;

 }

  header nav{
    width: 100%;
    height:1000%;
    margin: 0;
    position: fixed;
    left: -100%;
    font-family: 'Oswald', sans-serif;  
    background: #49B1AA  url('./huellasfondo.png') repeat left; 
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255, .3);
  }
  .menu_barsito{
    display: block;
    width: 100%;
    background: #b91110;
    height: 60px;
    color: #2E4A6D;

  }
  .menu_barsito .bt-menu{
    display: block;
    padding: 20px;
    height: 60px;
    background: url('./huellasfondo.png') repeat center;
    font-family: 'Oswald', sans-serif;
    color: #2E4A6D;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu_barsito span{
      float:right;
      font-size:25px;
      padding-bottom: 10px;
    }

  header nav ul li a:hover{
    background:#2E4A6D;
    border-left: 5px solid #F6B00C;
    color: #F6B00C;

  }

/* inicio ccontenedor*/

.contenedor{
  margin-top: 65px;
  padding-bottom: 10px;

}
/*requisitos*/
.requisitos{
  background: #2E4A6D;
  width: 100%;
  float: left;
}

.requisitos h2{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  text-align: justify-all;
}
.requisitos h3{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 14px;
  text-align: justify-all;

}
/*----------------------*/
.foto-perfil-mascota{
	width: 98%;
	height: 180px;
	margin-left: 1%;
	float: left;
	background: #ececec;
}
  /* inicio slider*/
.slider{
  overflow: hidden;
  float: left;
  width: 98%;
  height: 176px;
  margin-left: 1%;
  padding-bottom: 1px;
  margin-top: 1px;
  
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;

}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  height: 180px;
}
/*fin slider*/

/*---------------------*/
.info-perfil-mascota{
	width: 98%;
  margin-left: 1%;
  margin-top: 4px;
	float: left;
  
}
.dato-info{
	width: 100%;
	float: left;
	
	text-align:justify;
  background-color: #F1636A;
 }

.dato-info h3{
	
	float: left;
  text-align: justify-all;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;

}
/*formulario para adoptar mascotas*/
.formulario-adoptar{
  width: 98%;
  margin-left: 1%;
  padding-bottom: 3px;
  padding-top: 3px;

}
.input-form{
  width: 96%;
  margin-left: 1%;
  height: 30px; 
  font-size: 17px; 
}
.formulario-adoptar select{
  width: 96%;
  margin-left: 1%;
  height: 30px;
  font-size: 17px;
  margin-top: 2px;
  margin-bottom: 2px;
  }
.formulario-adoptar textarea{
  width: 94.5%;
  height: 70px;
  margin-left: 1%;
  font-size: 16px;
 }
.formulario-adoptar h2{
  width: 98%;
  font-size: 15px;
}
.radios{
  width: 100%;
  
}
.radios h3{
  width: 10%;
  font-size: 15px;
}
.radio {
    width:10%;
    margin-left: 15%;
    height:30px;
    -moz-border-radius:  50%;
    border-radius:  50%
    padding-top:5px auto;
}
.msj h2{
  color: #fff;
  font-size:15px;
}
/*---------------------------------*/

.titulo-ver-otras-pets{
  background-color: #F6B00C;
  text-align: center;
  float: left;
  padding: 4px;
}
.titulo-ver-otras-pets h2{
color: #fff;
 font-size: 15px;
  font-family: 'Oswald', sans-serif;
}

/*----- un---- */
.mascota{
  

  width: 95%;
  margin-left: 2.5%;
  background-color: #2E4A6D;
  height:200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img-fondo{

  width: 95%;
  margin-left: 2.5%;
  height: 180px;
  margin-top: 10px;
  float: left;
 

}
.datos-mascota{
   width: 50%;
  height: 180px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 5%;
  margin-top: 40px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}


.btn-buscarmas-mascotas{
  width: 90%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  padding-top: 7px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  height: 40px;
  float: left;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #F1636A;
  border: dashed 1px #fff;
  text-align: center;
  
}
.btn-enviarsolicitud{
  width: 90%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  float: left;
  
}

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 90%;
  margin-left: 8%;
  height: 40px;
}
.social-media img{
  width: 22%;
  margin-top: 10px;
}

  }

@media only screen and (max-width : 480px) and (min-width: 321px) {

 header{
    position: fixed;
    margin-bottom: 15px;
    background: #49B1AA url('./huellasfondo.png') repeat center;
    color: #2E4A6D;
  }

  header nav{
    width: 65%;
    height:1000%;
    margin: 0;
    position: fixed;
    left: -100%;
    font-family: 'Oswald', sans-serif;
    background: #49B1AA url('./huellasfondo.png') repeat center;

    
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255, .3);
  }
  .menu_barsito{
    display: block;
    width: 100%;
    background: #49B1AA url('./huellasfondo.png') repeat center;
    height: 60px;
    color: #2E4A6D;

  }
  .menu_barsito .bt-menu{
    display: block;
    padding: 20px;
    height: 60px;
    font-family: 'Oswald', sans-serif;
    color: #2E4A6D;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu_barsito span{
      float:right;
      font-size:25px;
      padding-bottom: 10px;
    }

      header nav ul li a:hover{
    background:#2E4A6D;
    border-left: 5px solid #F6B00C;
    color: #F6B00C;

  }

 /* inicio ccontenedor*/

.contenedor{
  margin-top: 65px;
  padding-bottom: 10px;

}
/*requisitos*/
.requisitos{
  background: #2E4A6D;
  width: 100%;
  float: left;
}

.requisitos h2{
  font-size: 20px;
  text-align: justify-all;
}
.requisitos h3{
  width: 90%;
  margin-left:5%; 
  font-size: 16px;
  text-align: center;

}
.hola{
  margin-top: 10px;
  margin-bottom: 5px;
}
/*formulario para adoptar mascotas*/
.formulario-adoptar{
  width: 85%;
  margin-left: 7.5%;
  padding-bottom: 3px;
  padding-top: 3px;

}
.input-form{
  width: 96%;
  margin-left: 1%;
  height: 30px; 
  font-size: 17px; 
  
}
.formulario-adoptar select{
  width: 96%;
  margin-left: 1%;
  height: 30px;
  font-size: 17px;
  margin-top: 2px;
  margin-bottom: 2px;
  }
.formulario-adoptar textarea{
  width: 94.5%;
  height: 80px;
  margin-left: 1%;
  font-size: 16px;
 }
.formulario-adoptar h2{
  width: 98%;
  font-size: 15px;
}
.radios{
  width: 100%;
  }
.radios h3{
  width: 10%;
  font-size: 15px;
}
.msj{
  float: left;width: 100%;
}
.msj h2{
  color: #fff;
  font-size:15px;
}
.radio {
    width:10%;
    margin-left: 20%;
    height:30px;
    -moz-border-radius:  50%;
    border-radius:  50%
    padding-top:5px auto;
}
/*---------------------------------*/
.foto-perfil-mascota{
  width: 99%;
  height: 220px;
  margin-left: 0.5%;
  float: left;
  background: #ececec;
}
  /* inicio slider*/
.slider{
  overflow: hidden;
  float: left;
  width: 98%;
  height: 215px;
  margin-left: 1%;
  padding-bottom: 1px;
  margin-top: 1px;
  
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;

}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  height: 215px;
}
/*fin slider*/

/*---------------------*/
.info-perfil-mascota{
  width: 98%;
  margin-left: 1%;
  float: left;
  margin-top: 3px;
  background-color: #F1636A;
}
.dato-info{
  width: 100%;
  float: left;
  
  text-align:justify;
 }
.dato-info h3{
  float: left;
  text-align: center;
  font-size: 17px;
  }

/*-*/
/**/


.titulo-ver-otras-pets{
  background-color: #F6B00C;
  text-align: center;
  float: left;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
 
  
}
.titulo-ver-otras-pets h2{
color: #fff;
 font-size: 15px;
  font-family: 'Oswald', sans-serif;
}
.compartir-redes{
  display: none;
}

.btn-buscarmas-mascotas{
  width: 90%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  padding-top: 7px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  height: 40px;
  float: left;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #F1636A;
  border: dashed 1px #fff;
  text-align: center;
  
}
.btn-buscarmas-mascotas h2{
  text-align: center;
  font-size: 17px;
}
/*----- un---- */
.mascota{
  

  width: 80%;
  margin-left: 10%;
  background-color: #31486A;
  height:180px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img-fondo{
  width: 90%;
  margin-left: 2.5%;
  height: 160px;
  margin-top: 10px;
  float: left;
  box-shadow: inset 0px 21px 63px -2px rgba(49,72,106,0.9);

}


.datos-mascota{
   width: 50%;
  height: 160px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 7%;
  margin-top: 10px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}

.btn-enviarsolicitud{
  width: 90%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  
}

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 50%;
  margin-left: 25%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}



}

@media only screen and (max-width : 769px) and (min-width: 479px){
   header{
    position: fixed;
    margin-bottom: 15px;
    background: #49B1AA url('./huellasfondo.png') repeat center;
    color: #2E4A6D;
  }

  header nav{
    width: 65%;
    height:1000%;
    margin: 0;
    position: fixed;
    left: -100%;
    font-family: 'Oswald', sans-serif;
    background: #49B1AA url('./huellasfondo.png') repeat center;

    
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255, .3);
  }
  .menu_barsito{
    display: block;
    width: 100%;
    background: #b91110;
    height: 60px;
    color: #2E4A6D;

  }
  .menu_barsito .bt-menu{
    display: block;
    padding: 20px;
    height: 60px;
    background: #49B1AA url('./huellasfondo.png') repeat center;
    font-family: 'Oswald', sans-serif;
    color: #2E4A6D;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu_barsito span{
      float:right;
      font-size:25px;
      padding-bottom: 10px;
    }

      header nav ul li a:hover{
    background:#2E4A6D;
    border-left: 5px solid #F6B00C;
    color: #F6B00C;

  }

 

/* inicio ccontenedor*/

.contenedor{
  margin-top: 65px;
  padding-bottom: 10px;

}
/*requisitos*/
.requisitos{
  background: #2E4A6D;
  width: 100%;
  float: left;
}
.hola{
   width: 90%;
   margin-left: 5%;
 font-size: 28px;
  text-align: justify-all;
  float: left;
}
.requisitos h2{
   width: 90%;
 font-size: 28px;
  text-align: justify-all;
  float: left;
}
.requisitos h3{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left:5%; 
  font-size: 18px;
  text-align: center;

}
/*----------------------*/
.foto-perfil-mascota{
  width: 80%;
  height: 260px;
  margin-left: 10%;
  float: left;
  background: #ececec;
}
  /* inicio slider*/
.slider{
  overflow: hidden;
  float: left;
  width: 98%;
  height: 255px;
  margin-left: 1%;
  padding-bottom: 1px;
  margin-top: 1px;
  
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;

}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  height: 255px;
}
/*fin slider*/
.hola{
  margin-top: 10px;
}
/*---------------------*/
.info-perfil-mascota{
  width: 98%;
  margin-left: 1%;
  float: left;
  background-color: #F1636A;
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
  
}
.dato-info{
  width: 100%;
  float: left;
  text-align:justify;
 }

.dato-info h3{
  float: left;
  text-align: left;
  font-size: 15px;
  }
/*formulario para adoptar mascotas*/
.formulario-adoptar{
  width: 70%;
  margin-left: 15%;
  padding-bottom: 3px;
  padding-top: 3px;

}
.input-form{
  width: 96%;
  margin-left: 1%;
  height: 30px; 
  font-size: 17px; 
  
}
.formulario-adoptar select{
  width: 96%;
  margin-left: 1%;
  height: 30px;
  font-size: 17px;
  margin-top: 2px;
  margin-bottom: 2px;
  }
.formulario-adoptar textarea{
  width: 94.5%;
  height: 70px;
  margin-left: 1%;
  font-size: 16px;
 }
.formulario-adoptar h2{
  width: 100%;
  font-size: 20px;
}
.radios{
  width: 100%;
 
}
.radios h3{
  width: 10%;
  font-size: 15px;
}
.radio {
  margin-left:17%;
    width:10%;
    height:30px;
    -moz-border-radius:  50%;
    border-radius:  50%
    padding-top:5px auto;
}
.msj{
  width: 100%;
}
.msj h2{
  color: #fff;
  font-size:15px;
}
/*---------------------------------*/

.titulo-ver-otras-pets{
  background-color: #F6B00C;
  text-align: center;
  float: left;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
 
  
}
.titulo-ver-otras-pets h2{
color: #fff;
 font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

/*----- un---- */

.btn-buscarmas-mascotas{
  width: 90%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  padding-top: 7px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  height: 40px;
  float: left;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #F1636A;
  border: dashed 1px #fff;
  text-align: center;
  
}
.btn-buscarmas-mascotas h2{
  text-align: center;
  font-size: 17px;
}
.btn-enviarsolicitud{
  width: 45%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 27.5%;
  float: left;
  
}
.btn-buscarmas-mascotas h2{
  text-align: center;
  font-size: 17px;
}

/*----- un---- */
.mascota{
  

  width: 70%;
  margin-left: 15%;
  background-color: #31486A;
  height:270px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  text-align: center;
}
.img-fondo{
  width: 95%;
  margin-left: 2.5%;
  height: 250px;
  margin-top: 10px;
  float: left;
  box-shadow: inset 0px 21px 63px -2px rgba(49,72,106,0.9);

}


.datos-mascota{
  padding-top: 40px;
   width: 50%;
  height: 210px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 7%;
  margin-top: 5px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}



/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 50%;
  margin-left: 25%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}




}

 @media only screen and (max-width : 992px) and (min-width: 770px) {
   header{
    position: fixed;
    margin-bottom: 15px;
    background: #49B1AA  url('./huellasfondo.png') repeat center;
    color: #2E4A6D;
  }

  header nav{
    width: 45%;
    height:1000%;
    margin: 0;
    position: fixed;
    left: -100%;
    font-family: 'Oswald', sans-serif;
    background: #49B1AA url('./huellasfondo.png') repeat center;

    
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255, .3);
  }
  .menu_barsito{
    display: block;
    width: 100%;
    background: #b91110;
    height: 60px;
    color: #2E4A6D;

  }
  .menu_barsito .bt-menu{
    display: block;
    padding: 20px;
    height: 60px;
    background: #49B1AA  url('./huellasfondo.png') repeat center;
    font-family: 'Oswald', sans-serif;
    color: #2E4A6D;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu_barsito span{
      float:right;
      font-size:25px;
      padding-bottom: 10px;
    }

      header nav ul li a:hover{
    background:#2E4A6D;
    border-left: 5px solid #F6B00C;
    color: #F6B00C;

  }

  
/* inicio ccontenedor*/

.contenedor{
  margin-top: 65px;
  padding-bottom: 10px;

}
/*requisitos*/
.requisitos{
  background: #2E4A6D;
  width: 100%;
  float: left;
}

.requisitos h2{
  font-size: 32px;
  text-align: justify-all;
}
.requisitos h3{
  width: 90%;
  margin-left:5%; 
  font-size: 18px;
  text-align: center;

}
/*----------------------*/
.foto-perfil-mascota{
  width: 50%;
   margin-left: 25%;
  float: left;
  background: #ececec;
  padding-bottom: 2px;
  margin-top: 2px;
}
  /* inicio slider*/
.slider{
  overflow: hidden;
  float: left;
  width: 98%;
  height: 297px;
  margin-left: 1%;
  padding-bottom: 3px;
  margin-top: 3px;
  
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;

}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  height: 297px;
}
/*fin slider*/
/*formulario para adoptar mascotas*/
.hola{
  width: 60%;
  float: left;
  margin-left: 20%;
}
.formulario-adoptar{
  width: 60%;
  margin-left: 20%;
  padding-bottom: 3px;
  padding-top: 3px;

}
.input-form{
  width: 96%;
  margin-left: 1%;
  height: 30px; 
  font-size: 17px; 
  
}
.formulario-adoptar select{
  width: 96%;
  margin-left: 1%;
  height: 30px;
  font-size: 17px;
  margin-top: 2px;
  margin-bottom: 2px;
  }
.formulario-adoptar textarea{
  width: 94.5%;
  height: 70px;
  margin-left: 1%;
  font-size: 16px;
 }
.formulario-adoptar h2{
  width: 100%;
  font-size: 20px;
}
.radios{
  width: 100%;
 
}
.radios h3{
  width: 10%;
  font-size: 15px;
}
.radio {
  margin-left:17%;
    width:10%;
    height:30px;
    -moz-border-radius:  50%;
    border-radius:  50%
    padding-top:5px auto;
}
.msj{
  width: 100%;
}
.msj h2{
  color: #fff;
  font-size:15px;
}
/*---------------------------------*/
/*---------------------*/
.info-perfil-mascota{
  width: 90%;
  margin-top: 5px;
  margin-left: 5%;
  float: left;
  text-align: center;
  background-color: #F1636A;
  
}
.dato-info{
  width: 100%;
  float: left;
  text-align:justify;
 }
 .dato-info h3{
  float: left;
  text-align: center;
  font-size: 18px;
  }

.btn-enviarsolicitud{
  width: 50%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25%;

  
}
.titulo-ver-otras-pets{
  background-color: #F6B00C;
  text-align: center;
  float: left;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
 
  
}
.titulo-ver-otras-pets h2{
color: #fff;
 font-size: 18px;
  font-family: 'Oswald', sans-serif;
}
/*-----fin requisitos*/
.btn-buscarmas-mascotas{
  width: 90%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  padding-top: 7px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  height: 40px;
  float: left;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #F1636A;
  border: dashed 1px #fff;
  text-align: center;
  
}
.btn-buscarmas-mascotas h2{
  text-align: center;
  font-size: 17px;
}

/*----- un---- */
.mascota{
  

  width: 47%;
  margin-left: 2.5%;
  background-color: #31486A;
  height:270px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  text-align: center;
}
.img-fondo{
  width: 90%;
  margin-left: 2.5%;
  height: 260px;
  margin-top: 10px;
  float: left;
  box-shadow: inset 0px 21px 63px -2px rgba(49,72,106,0.9);

}


.datos-mascota{
   width: 50%;
  height: 180px;
 padding-top: 80px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 7%;
  margin-top: 5px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}



/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 20%;
  margin-left: 40%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}


}

@media only screen and (min-width: 993px){
/*---------------------------------------*/
.menu_barsito{
  display: none;
}
header {
  width: 100%;
  background: #ececec url('./huellas1.png') repeat center;
  float: left;
}
header nav{
  width: 90%;
 
  margin-left: 10%;
  background: url('./huellas1.png') no-repeat center;
  float: left;
}
header nav ul{
  overflow: hidden;
  list-style: none;
}
header nav ul li{
  float: left;
}

header nav ul li a{
color: #2E4A6D;
padding: 20px;
display: block;
font-size: 18px;
text-decoration: none;
 font-family: 'Oswald', sans-serif;
}
header nav ul li span{
  margin-right:10px;
}

header nav ul li a:hover{
  background:#2E4A6D;
  
  color: #F6B00C;

}


/*----------------*/
.contenido{
  background: #ED515B;
}   
  


/*contenedor*/


.contenedor{
  padding-bottom: 10px;
  float: left;
}

/*requisitos*/
.requisitos{
  background: #2E4A6D;
  width: 100%;
  float: left;
   text-align: center;
}

.requisitos h2{
   font-size: 32px;
  text-align: justify-all;
}
.requisitos h3{
  
  font-size: 18px;
  text-align: center;

}
/*----------------------*/
.foto-perfil-mascota{
  width: 60%;
  margin-left: 20%;
  float: left;
  background: #ececec;
  padding-left: 2px;
}
  /* inicio slider*/
.slider{
  overflow: hidden;
  float: left;
  width: 99.7%;
  height: 380px;
  padding-bottom: 2px;
  margin-top: 2px;
  
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;

}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  height: 380px;
}
/*fin slider*/
/*formulario para adoptar mascotas*/
.hola{
  width: 60%;
  float: left;
  margin-left: 20%;
}
.formulario-adoptar{
  width: 35%;
  margin-left: 32.5%;
  padding-bottom: 3px;
  padding-top: 3px;

}
.input-form{
  width: 96%;
  margin-left: 1%;
  height: 30px; 
  font-size: 17px; 
  
}
.formulario-adoptar select{
  width: 96%;
  margin-left: 1%;
  height: 30px;
  font-size: 17px;
  margin-top: 2px;
  margin-bottom: 2px;
  }
.formulario-adoptar textarea{
  width: 94.5%;
  height: 70px;
  margin-left: 1%;
  font-size: 16px;
 }
.formulario-adoptar h2{
  width: 100%;
  font-size: 20px;
}
.radios{
  width: 100%;
 
}
.radios h3{
  width: 10%;
  font-size: 15px;
}
.radio {
  margin-left:17%;
    width:10%;
    height:30px;
    -moz-border-radius:  50%;
    border-radius:  50%
    padding-top:5px auto;
}
.msj{
  width: 100%;
  float: left;
   text-align: center;
}
.msj h2{
  color: #fff;
  font-size:20px;

}
/*---------------------------------*/
/*---------------------*/
.info-perfil-mascota{
  width: 70%;
  margin-left: 15%;
  float: left;
  margin-top: 0px;
  background-color: #cecece;
  border: dashed 1px #fff;
  margin-top: 5px;

   
}
.dato-info{
  width: 100%;
  float: left;
  text-align:justify;
  background-color: #F1636A;
  text-align: center;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
 }
.dato-info h2{
  float: left;
  text-align: center;
  font-size: 18px;

  }

.titulo-ver-otras-pets{
  background-color: #F6B00C;
  text-align: center;
  float: left;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
 
  
}
.titulo-ver-otras-pets h2{
color: #fff;
 font-size: 18px;
  font-family: 'Oswald', sans-serif;
}
/*-----fin requisitos*/


.btn-buscarmas-mascotas{
  width: 30%;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 35%;
  padding-top: 7px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  height: 40px;
  float: left;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #F1636A;
  border: dashed 1px #fff;
  text-align: center;
  
}
.btn-buscarmas-mascotas h2{
  text-align: center;
  font-size: 17px;
}
.btn-enviarsolicitud{
  width: 40%;  

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30%;
  
}

/*----- un---- */
.mascota{
  

  width: 30%;
  margin-left: 2.5%;
  background-color: #31486A;
  height:280px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  text-align: center;
}
.img-fondo{
  width: 95%;
  margin-left: 2.5%;
  height: 255px;
  margin-top: 10px;
  float: left;
  box-shadow: inset 0px 21px 63px -2px rgba(49,72,106,0.9);

}


.datos-mascota{
   width: 50%;
  height: 200px;
  padding-top: 60px;
  
}
.datos-mascota h2{
  font-size: 25px;
   margin-left: 3%;
   width: 90%;

}
.datos-mascota h3{
  font-size: 18px;
 margin-left: 7%;
}

.btn-conoceme{
  width: 90%;  
  margin-left: 7%;
  margin-top: 5px;

}

.btn-conoceme h2{
  font-size: 15px;
  
}

/*footer*/
.footer{
  height: 80px;
  
}
.social-media{
  width: 15%;
  margin-left: 42.5%;
  height: 40px;
}
.social-media img{
  width: 20%;
  margin-top: 10px;
}


}
